{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi There! Dave here. Just a man with a blog and a dream.
          Currently a student, I hope to consolidate some of my
          previous IT experience into a Full-Stack Python Web Development
          role. I really like the idea of working remotely in a
          role where I can make my own hours on a schedule that suits
          my lifestyle. Well, that's the dream anyway.
        </p>
        <p>
          In my spare time I enjoy Online Gaming, especially the Call of Duty
          franchise. I love messing around with my Raspberry Pi's, of which I
          now have 5. In fact, the server you are viewing this web page on
          is a Raspberry Pi 4 running Apache 2.
        </p>
        <p>
          I am married with a super supportive wife, two adult daughters
          and a dog named Stanley. So sign up and leave a comment on
          my life and times. I look forward to hearing them.
        </p>
        <p>
          Cheers, Dave.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
